a.out
*.a
*.o
.vscode
*.gcno
*.gcda
*.txt
!outputs_tester/*.txt
*.pdf
!B-CPE-200_Corewar.pdf
exe
libmy.a
unit_tests
to_not_push
corewar.c
corewar
coding-style-reports.log
attempt_corewar
__pycache__
.mypy_cache
